<div class="foot">
  <div class="footer-links">
    <a href="#">About</a>
    <a href="#">Blog</a>
    <a href="#">Jobs</a>
    <a href="#">Help</a>
    <a href="#">API</a>
    <a href="#">Privacy</a>
    <a href="#">Term</a>
    <a href="#">Top Account</a>
    <a href="#">Hashtags</a>
    <a href="#">Locations</a>
  </div>
  <div class="last-line">
    <div class="language">English</div>
    <div>© 2021 Instagram from Facebook</div>
  </div>
</div>
