<section id="header">
  <div class="nav-bar">
    <div class="nav">
      <span class="brand"><img src="../img/instagram-name-icon.png" alt="Instagram" class="icon"></span>
      <span class="search"><div class="div-search"><input type="text" class="input-search" placeholder="Search"></div></span>
      <span class="navigator">
        <a href="/username/"><i class="fas fa-home"></i></a>
        <a href=""><i class="fab fa-facebook-messenger"></i></a>
        <a href="/username/create"><i class="far fa-plus-square"></i></a>
        <a href=""><i class="far fa-compass"></i></a>
        <a href=""><i class="far fa-heart"></i></a>
        <div class="nav-profile-img" id="pro"><img src="../img/avatar.jpg" alt=""></div>
      </span>
      <ul id="profile" class="ul-profile hidden">
        <li><a href="/username/"><i class="far fa-user-circle"></i> Profile</a></li>
        <li><a href="/username/saved"><i class="far fa-bookmark"></i> Saved</a></li>
        <li><a href="/account/edit"><i class="fas fa-cog"></i> Settings</a></li>
        <li><div><i class="fas fa-sync-alt"></i> Switch Accounts</div></li>
        <li class="log-out"><a href="#">Log Out</a></li>
      </ul>
    </div>
  </div>
</section>
