<div class="user">
    <div class="user-photo"><img src="../img/avatar.jpg" alt="Avatar" class="img-avatar"></div>
    <section class="personal-info">
      <div class="upper">
        <div class="profile-name">
          <h2>zairovazizbek</h2>
        </div>
        <div>
          <a class="edit-profile" href="/account/edit/">Edit Profile</a>
        </div>
        <div>
          <button class="btn-show-settings"><i class="fas fa-cog"></i></button>
        </div>
      </div>
      <ul class="ul-followers">
        <li><strong>4</strong> posts</li>
        <li><strong>2,323</strong> followers</li>
        <li><strong>118</strong> following</li>
      </ul>
      <div class="div-lower">
        <h3 class="h3-name">Azizbek Zairov</h3>
        <div class="job">
          <p>Personal Blog</p>
        </div>
        <div>
          <a href="http://www.youtube.com/channel/UCZYqS9YcWcW0A9Ep9CJE_kg?view_as=subscriber
            " class="job-link">
            www.youtube.com/channel/UCZYqS9YcWcW0A9Ep9CJE_kg?view_as=subscriber</div>
          </a>
      </div>
    </section>
  </div>
  <div class="settings hide">
    <div class="setting-pannel">
      <button class="btn-top">Change Password</button>
      <button>Professional Account</button>
      <button>Nametag</button>
      <button>Apps and Websites</button>
      <button>Notifications</button>
      <button>Privacy and Security</button>
      <button>Login Activity</button>
      <button>Emails from Instagram</button>
      <button>Report a Problem</button>
      <button>Log Out</button>
      <button class="btn-bottom close">Cancel</button>
    </div>
  </div>