<div id="table">
  <a href="/username" class="s1 active">POSTS</a>
  <a href="/username/channel" class="s1">IGTV</a>
  <a href="/username/saved" class="s1">SAVED</a>
  <a href="/username/tagged" class="s1">TAGGED</a>
</div>
