<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  <%- include("partials/head.ejs") %>
  <body>
    <!-- Navigator -->
    <%- include("partials/navigator.ejs") %>

    <!-- Main -->
    <section id="main">
      <div class="account-main">
        <ul class="left">
          <li class="active"><a href="">Edit Profile</a></li>
          <li><a href="">Professional Account</a></li>
          <li><a href="">Change Password</a></li>
          <li><a href="">Apps and Websites</a></li>
          <li><a href="">Email and SMS</a></li>
          <li><a href="">Push Notifications</a></li>
          <li><a href="">Manage Contacts</a></li>
          <li><a href="">Privacy and Security</a></li>
          <li><a href="">Login Activity</a></li>
          <li><a href="">Email from Instagram</a></li>
          <div>
            <button class="btn-secondary STPA">Switch to Personal Account</button>
          </div>
          <div class="left-bottom">
              <div class="left-bottom-child">
                <div>
                  FACEBOOK some icon
                </div>
                <div>
                  <button class="btn-secondary btn-account-center">
                    Accounts Center
                  </button>
                </div>
                <div>
                  <div class="left-bottom-info">
                    Control settings for connected experiences across Instagram, the Facebook app and Messenger, including story and post sharing and logging in.
                  </div>
                </div>
              </div>
          </div>
        </ul>
        <article class="right">
          <div class="right-upper">
            <div class="user-avatar">
              <img src="../img/avatar.jpg" alt="" />
            </div>
            <div>
              <h1>zairovazizbek</h1>
              <button class="btn-change-profile-phto">
                Change Profile Photo
              </button>
            </div>
          </div>
          <form action="">
            <div>
              <aside>Name</aside>
              <div class="div-form-right">
                <input type="text" name="" id="" value="Azizbek Zairov" />
                <div class="info-section">
                  <div class="info">
                    Help people discover your account by using the name you're
                    known by: either your full name, nickname, or business name.
                  </div>
                  <div class="buttom-info">
                    You can only change your name twice within 14 days.
                  </div>
                </div>
              </div>
            </div>
            <div>
              <aside>Username</aside>
              <div class="div-form-right">
                <input type="text" name="" id="" value="zairovazizbek" />
                <div class="info-section">
                  <div class="info">
                    In most cases, you'll be able to change your username back to
                    zairovazizbek for another 14 days.
                    <a href="" class="learn-more" style="color:#0095f6">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <aside>Website</aside>
              <div class="div-form-right">
                <input
                  type="text"
                  name=""
                  id=""
                  value="https://www.youtube.com/channel/UCZYqS9YcWcW0A9Ep9CJE_kg?view_as=subscriber"
                />
              </div>
            </div>
            <div>
              <aside>Bio</aside>
              <div class="div-form-right">
                <textarea name="" id=""></textarea>
              </div>
            </div>
            <div>
                <aside></aside>
                <div class="div-form-right">
                  <div class="info-section">
                    <h2>Personal Information</h2>
                    <div class="info">Provide your personal information, even if the account is used for a business, a pet or something else. This won't be a part of your public profile.</div>
                  </div>
                </div>
              </div>
            <div>
              <aside>Email</aside>
              <div class="div-form-right">
                <input
                  type="text"
                  name=""
                  id=""
                  value="azizbekzairov2021@gmail.com"
                />
              </div>
            </div>
            <div>
              <aside>Phone Number</aside>
              <div class="div-form-right">
                <input type="text" name="" id="" value="+7 999 720-57-44" />
              </div>
            </div>
            <div>
              <aside>Gender</aside>
              <div class="div-form-right">
                <input type="text" name="" id="" value="Male" />
              </div>
            </div>



            <div>
              <aside>Similar Account Suggestion</aside>
              <div class="div-form-right div-checkbox-section">
                <div class="div-checkbox">
                  <input type="checkbox" class="checkbox"/>
                </div>
                  <div class="info-check">
                    Include your account when recommending similar accounts people
                    might want to follow. <a href="" style="color:#0095f6">[?]</a>
                  </div>
              </div>
            </div>
           
            <div>
              <aside></aside>
              <div class="div-form-right btn-section">
                  <button class="submit">Submit</button>
                  <div>
                      <button class="btn-secondary delete-account">Temporarily disable my account</button>
                  </div>
              </d>
            </div>
          </form>
        </article>
      </div>
    </section>

    <!-- Footer -->
    <%- include("partials/footer.ejs") %>
  </body>

  <!-- <script src="js/app.js"></script> -->
  <%- include("partials/script.ejs") %>
</html>
